.banner-box{
    height:620px;
}
.banner-box .carousel,.carousel-inner .item,.carousel-inner {
    height:100%;
}

.carousel-inner .item:nth-of-type(1){
    background:url("../images/banner1.jpg")  100% center;
}
.carousel-inner .item:nth-of-type(2){
    background:url("../images/banner2.jpg")  100% center;
}
.carousel-inner .item:nth-of-type(3){
    background:url("../images/banner3.jpg")  100% center;
}
.carousel-indicators li.active{
    background-color:#0094ff;
    border-color:#0094ff;
}
.hc-banner {
    height:760px;
    background: url("../images/hc_banner.jpg") 100% center no-repeat;
}
.into-our-box,.company-honor-box{
    width:530px;
    height:300px;
    background-color:red;
    position:relative;
    transition: all .3s;
}
.into-our-box {
    background: url("../images/company.png") center;
    background-size: 100%;
}
.company-honor-box{
    background:url("../images/honor.jpg")  no-repeat center;
    background-size:100%;
}
.title-line{
    width:1px;
    background-color:#000;
    margin:0 6px;
    height:16px;
    display:inline-block;
    position: relative;
    top: 2px;
}
.into-our-box .mask,.company-honor-box .mask{
    background-color:rgba(0,0,0,0.4);
    width:240px;
    height:180px;
    position:absolute;
    right:0;
    bottom:0;
    color:#fff;
    padding:15px;
}
.into-our-box:hover, .company-honor-box:hover {
    background-size: 120%;
}
.mask p.en{
    font-size:16px;
}
.mask p.tilte{
    font-size:24px;
}
.swiper-container{
    height:260px;
}
.swiper-slide{
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 30px;
    width:380px !important;
}
.swiper-slide-img-box{
    width:100%;
    height:200px;
    overflow:hidden;
    padding-top: 5px;
}
.swiper-slide img{
    height:100%;
}
.swiper-slide>strong.infor{
    font-size:16px;
    color:#000;
    margin-top:10px;
    display:inline-block;
}
.navbar-inverse {
    box-shadow: 0 0 2px 3px #909090;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:5px;
}
.text-a a{
    color:#fff;
}
h4{
    margin-bottom:12px;
}